# NetBeans specific #
**/nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
nbactions.xml
nb-configuration.xml

# Class Files #
*.class

# Package Files #
*.jar
*.war
*.ear
/133/HelloWorldApp/target/
/133/Sitzungsverfolgung/target/